@{
    ViewBag.Title = "Forgot Password Confirmation";
    Layout = null;
}

<link href="~/Content/bootstrap-theme.min.css" rel="stylesheet" />

@Styles.Render("~/Content/css")
<!-- Google Web Fonts -->
<link rel="preconnect" href="~/https://fonts.gstatic.com">
<link href="~/https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

<!-- Font Awesome -->
<link href="~/https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">

<!-- Libraries Stylesheet -->

<link href="~/Content/Index/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet" />

<!-- Customized Bootstrap Stylesheet -->

<link href="~/Content/Styles/css/style.css" rel="stylesheet" />

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        Please check your email to reset your password.
    </p>
</div>

