


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AdmiPage</title>
</head>
<body>
    <div>
        <h4> @Html.ActionLink("Add Product", "ProductAdd", null, new { @class = "btn btn-primary btn-lg" }, new { style = "text-decoration:none;" })</h4><br />
    </div>
    <div>
        <h4> @Html.ActionLink("Edit/Remove Product", "RemoveProduct", new { @class = "btn btn-danger btn-lg" }, new { style = "text-decoration:none;" }) </h4>
    </div>
    <div>
        <h4> @*@Html.ActionLink("Remove User", "RemoveUser", null, new { @class = "btn btn-danger btn-lg" }, new { style = "text-decoration:none;" })*@ </h4>
    </div>
</body>
</html>
