@using MyEcommerce.Models

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>search</title>
</head>
<body>
    <div class="main">
        <div class="row">
            @foreach (var item in Model)
            {

                <div class="col-4">
                    <div class="card" style="width: 19rem; padding: 10px; box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 15px; margin-top:20px;">
                        <a href="@Url.Action("CardView", "Home", new { id = item.id })">
                            <img src="~/Images/@item.imageUrl" width="150" height="150" />
                        </a>
                        <div class="card-body">
                            <p>@item.details</p>

                        </div>

                    </div>
                </div>

            }

        </div>
    </div>
</body>
</html>
